In [2]:
#Validating The Phone Number

while(True):

    phone = input("Enter the phone number: ")

    if len(phone) != 10:

        print("Phone number must be 10 digits")

        continue

    if not phone.isdigit():

        print("Phone number must be digits")

        continue

    else:

        break

 
#Validating The City Name

while(True):

    city = input("Enter the city: ")

    if len(city) < 3:

        print("City name must be atleast 3 characters long ")

        continue

    if not city.isalpha():

        print("City name must be alphabetic characters")

        continue

    else:

        break
 

 
#Validating The First Name

while(True):

    firstname = input("Enter the first name: ")

    if len(firstname) < 3:

        print("First name must be atleast 3 characters long")

        continue

    if not firstname.isalpha():

        print("First name must be in alphabets")
        
    else:

        break
        
#Validating The Last Name

while(True):

    lastname = input("Enter last name: ")

    if len(lastname) < 3:

        print("Last name must be atleast 3 characters long")

        continue

    if not lastname.isalpha():

        print("Last name must be in alphabets")
        
    else:

        break

#Validating the Age

while(True):

    age = input("Enter age: ")

    if len(age) == 0:

        print("Age must not be empty")

        continue

    if not age.isdigit():

        print("Age must be a number")
        
    else:

        break
        
# Validating the Designation

while(True):
    
    designation = input("Enter the designation: ")
    
    if len(designation) <= 0:
        
        print("Designation must not be empty")
        
        continue
        
    if not designation.isalpha():
        
        print("Designation must be alphabets")
        
        continue
        
    else:
        
        break
        
# Validating the Salary

while(True):
    
    salary = input("Enter Basic monthly salary: ")
    
    if len(salary) <= 0:
        
        print("Salary must not be empty")
        
        continue
        
    if not salary.isdigit():
        
        print("Salary must be numbers")
        
        continue
        
    if int(salary) < 5000:
        
        print("Salary must be more than Rs. 5000")
        
        continue
        
    else:
        
        break

Enter the phone number: 9898989766
Enter the city: h
City name must be atleast 3 characters long
Enter the city: Hyderabad
Enter the first name: sh
First name must be atleast 3 characters long
Enter the first name: Shireesha
Enter last name: ch
Last name must be atleast 3 characters long
Enter last name: Chauhan
Enter age:
Age must not be empty
Enter age: 23
Enter the designation: Employee
Enter Basic monthly salary: 10000

In [ ]:
import mariadb
 conn = mariadb.connect(
     user = "root",
     password = "560096",
     host = "localhost",
     port = 3306,
     database = "python_test",
 )

 cur = conn.cursor()
 conn.autocommit = True

    
 print("\nName:", firstname)

 print("Phone:", phone)

 print("Age:", age)

 print("Salary:", salary)

 print("City:", city)

 print("Designation:", designation)

 

try:

    cur.execute("create table myemployees (firstname varchar(255), phone varchar(10), age int, salary int, city varchar(255), designation varchar(255));")

   

except Exception as y:

   
    print(y)

   

query = """insert into myemployees (firstname,phone,age,salary,city,designation) values(%s,%s,%d,%d,%s,%s)"""

 

record = (firstname,phone,int(age),int(salary),city,designation)

 

cur.execute(query,record)

 

cur.execute("select firstname, phone, age,salary,city,designation from myemployees;")

 

for (firstname,phone,age,salary,city,designation) in cur:

 

    print("Name:", {firstname},"Phone:", {phone},"Age:", {age},"Salary:", {salary},"City:", {city},"Designation:", {designation})